# ignore all files in __pycache__ directories
__pycache__/*
# ignore all files in .pyc files
*.pyc

.vscode/*
output/*
Outputs/output001.png
.idea/*

# ignore all .h5 files and the directory that contains them
*.h5
SideProject/Data/*

# Ignore all files for bulded app

dist/*
build/*
*.spec

WARP.dist/*
WARP.build/*
WARP.onefile-build/*
*.exe
