# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Py Source ignored files
/__pychache__/
/__pycache__/master_class.cpython-311.pyc
/__pycache__/master_class_ajusted.cpython-311.pyc
/__pycache__/master_function.cpython-311.pyc
/__pycache__/Warping.cpython-311.pyc
